<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset='utf-8'>
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- p5 js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.sound.js"></script>
    <!-- jquery -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <!-- scripts -->
    <script type=text/javascript src="{{url_for('static', filename='audio.js')}}"></script>
    <!-- <script type=text/javascript src="{{url_for('static', filename='newaudio.js')}}"></script> -->
    <script type=text/javascript src="{{url_for('static', filename='WebAudioRecorder.js')}}"></script>
		
    <title>Cassette</title>
  </head>
  <body>

    <div class='center-align'>
      <h1>Cassette</h1> 
    </div>

    <div id="mediaButton" class='center-align'>
      <a class="waves-effect waves-light btn">
        <i id="playerIcon" class="material-icons ">Record</i>
      </a>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

  </body>
</html>
