<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel='stylesheet' href="../static/style.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cassette</title>
  </head>
  <body>
    <div class='cassette-image'>
      <div class='cassette-container'>
        <div class='section no-pad-bot'>
          <h1 class='header center teal-text text-lighten-2'>Cassette</h1> 
        </div>
        <div class='row center'>
          <h5 class='header col s12 light'>A step closer to understanding emotion.</h5>
        </div>
      </div>
    </div>
    <div class='center-align'> 
      <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">&#9658;</i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </body>
</html>
