<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset='utf-8'>
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- p5 js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>   
    <!-- jquery -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <!-- scripts -->
    <script type=text/javascript src="{{url_for('static', filename='audio.js')}}"></script>
		
    <title>Cassette</title>
  </head>
  <body>
    <div class='cassette'>
      <div class='container'>
        <img src="../static/images/cassette.png" class='icon'>
        <h2 class='cassette-name'>Cassette<h2>
        <p class='subtext'><span style='color: #A5BE00'>Emotions</span> Illustrified</p>
        <p class='subtext2'>Press Play to begin.</p>
        <div>
          <img src="../static/images/cassette2.png" class='icon2'>
        </div>
        <div id="mediaButton" class='button-align'>
          <a class="waves-effect waves-light btn-large">
            <i id="playerIcon" class="material-icons">Play</i>
          </a>
        </div>
      </div> 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </body>
</html>
